
<footer>
    <div class="footer-main-container">
        <div class="footer-quick-links">
            <div class="footer-title">
                <h1>Quick Links</h1>
            </div>
            <div class="footer-links">
                <span class="footor-link"><a href="">Videos</a></span>
                <span class="footor-link"><a href="">Nepal Online School</a></span>
                <span class="footor-link"><a href="">Nepalese IT Community Study</a></span>
                <span class="footor-link"><a href="">BootCamp</a></span>
            </div>
        </div>
        <div class="footer-about-us">
            <div class="footer-title">
                <h1>About Us</h1>
            </div>
            <div class="footer-links">
                <span class="footor-link"><a href="">Our Team</a></span>
                <span class="footor-link"><a href="">Student Hub</a></span>
            </div>
        </div>
        <div class="footer-contact">
            <div class="footer-title">
                <h1>Contact</h1>
            </div>
            <div class="footer-links">
                <span class="footor-link"><p>Phone Number: 9819696573</p></span>
                <span class="footor-link"><p>Location: Kathmandu Nepal</p></span>
                <span class="footor-link"><p>Email: <a href="mailto:pingjiwan@gmail.com">pingjiwan@gmail.com</a></p></span>
                <span class="footor-link"><p>Connect In Social Media</p>
                    <div class="social-media-links">
                        <a href="https://www.facebook.com/jiwanbhattaraiofficial/"><i class="fab fa-facebook fa-2x"></i></a>
                        <a href="https://www.instagram.com/jiwanbhattaraiofficial/"><i class="fab fa-instagram fa-2x" ></i></a>
                        <a href="https://www.instagram.com/yogijiwan/"><i class="fab fa-instagram fa-2x" aria-hidden="true"></i></a>
                        <a href="https://t.me/jiwanbhattarai"><i class="fab fa-telegram fa-2x" aria-hidden="true"></i></a>
                        <a href="https://www.linkedin.com/in/jiwanbhattarai/"><i class="fab fa-linkedin fa-2x" aria-hidden="true"></i></a>
                        <a href="https://join.skype.com/invite/gybKHtpgZQ6e"><i class="fab fa-skypt fa-2x" aria-hidden="true"></i></a>
                    </div>

                </span>
            </div>
        </div>
    </div>
</footer>