{% load static %}

    <div class="homepage-gallery-container">
        <header>
            <h1>Some Shots</h1>
        </header>
        <div class="gallery-homepage-wrapper">

            <div class="picture-container">
                <img src="{% static 'Img/Thumbnails/img3.jpg' %}" alt="">
            </div>
            <div class="picture-container">
                <img src="{% static 'Img/Thumbnails/img4.jpg' %}" alt="">
            </div>
            <div class="picture-container">
                <img src="{% static 'Img/Thumbnails/img5.jpg' %}" alt="">
            </div>
            <div class="picture-container">
                <img src="{% static 'Img/Thumbnails/img3.jpg' %}" alt="">
            </div>
            <div class="picture-container">
                <img src="{% static 'Img/Thumbnails/img3.jpg' %}" alt="">
            </div>
            <div class="picture-container">
                <img src="{% static 'Img/Thumbnails/img3.jpg' %}" alt="">
            </div>
            <div class="picture-container">
                <img src="{% static 'Img/Thumbnails/img3.jpg' %}" alt="">
            </div>
            <div class="picture-container">
                <img src="{% static 'Img/Thumbnails/img3.jpg' %}" alt="">
            </div>

        </div>
    </div>