{% load static %}
<div class="homepage-main-container">
    <div class="top-view-wrapper">
        <div class="text-container-homepage">
            <p class="heading-text">Jiwan Bhattarai | | CCIE # 60621</p>
            <div class="cert-text">
                <p>CEH, CCNA, CCNP</p>
                <p>Certified CompTIA A+,N+,S+,RHCSA, RHCE, MCSE</p>
                <p>Corporate Trainer,Senior System Administrator, IT Security Consultant, Public Speaker, Ashtanga Yoga Practitioner.</p>
            </div>
            <div class="connector-bootcamp-button">
                <button><a href="">BootCamp</a></button>
                <button><a href="#form-wrapper">Talk with Me</a></button>
            </div>
        </div>
        <div class="image-container-homepage">
            <img src="{% static 'Img/Homepage/portfolio.png' %}" alt="">
        </div>
    </div>
</div>
<div class="middle-page-container">
    <article class="quote">
        "I Don't Know Luck and Talent but I Do Know Patience and Acceptance, sacrifice and value of hard work"
    </article>
</div>

